body{
    background-image: url("/data/bg.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    
    /* background: linear-gradient(to bottom left, #fdfdfd 85%, #ff6347 80%); */
    /* background-color: #66757F; */
    
}
header{
    border-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin: 0%;
    
    border-top: none;
    border-left: none;
    border-right: none;
    

    /* background-color: rgb(60, 164, 255); */
}
.name{
    padding: 3px;
    /* background-color: rgb(255, 255, 255); */
    font-size: 17px;
    margin-left: 30px;
    font-family: 'Manjari', sans-serif;
    color: whitesmoke;
    border-radius: 1px;
    font-weight: 600;
    /* box-shadow: 0px 3px 10px rgb(204, 204, 204); */
    
}
.lname{
    margin-left:7px;
    font-weight: 700;
    color: rgb(165, 165, 165);
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manjari', sans-serif;
    font-weight: 500;
}
.nav{
    text-decoration: none;
    margin: 30px;
    font-family: 'Manjari', sans-serif;
    color: rgb(243, 243, 243);
    font-weight: 590;
    font-size: 13px;
}
.nav:hover{
    color: rgb(189, 189, 189);
    text-decoration: underline;
}
a:hover.social{
    color: rgb(138, 137, 137);
    
}

main{
    padding-bottom: 46px;
    margin-left: 70px;
    margin-top: 0px;
    padding: 90px;
    padding-left: 200px;
}
.bcon,.bre{
    margin: 5px;
    border: none;
    /* background-color: tomato; */
    padding: 7px;
    border-radius: 2%;
    font-weight: 600;
    font-size: 13px;
    /* padding: 12px; */
    /* margin-top: 10px; */
    font-family: 'Manjari', sans-serif;
    color: rgb(27, 7, 7);
    /* box-shadow: 0px 3px 10px rgb(255, 206, 166); */
 
}
.b1,.b2,.b3{
    border: none;
    padding: 4px;
    /* box-shadow: 0px 3px 10px rgb(206, 201, 201); */
}
.b1{
    background-color: #e29d34;
}
.b2{
    background-color: rgb(44, 165, 80);
}
.b3{
    background-color: rgb(87, 85, 85);
}
.b1:hover,.b2:hover,.b3:hover{
    cursor: pointer;
    background-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);
}
.bcon:hover,.bre:hover{
    cursor: pointer;
    background-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);
}
h1{
    letter-spacing: 3px;
    font-size: 55px;
    font-family: 'PT Sans Caption', sans-serif;
    color: rgb(235, 235, 235);
    padding: 0%;
    margin-bottom: 2px;
}
h4{
    letter-spacing: 2px;
    font-family: 'Manjari', sans-serif;
    margin: 0%;
    font-weight: 100;
    font-size: 17px;
    color: rgb(236, 236, 236);
}
p{
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    color: rgb(224, 224, 224);
}

img{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 170px;
    margin-right:270px ;
    margin-top: 29px;
   float: right;
   border: none;
   border-top-right-radius: 50px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.social{
   display: flex;
    justify-content: center;
}
.coding{
    /* margin: 5px; */
    
 }
 .c1, .c2, .c3{
    text-decoration: none;
    padding: 10px;
    font-family: 'Manjari', sans-serif;
    color: rgb(245, 239, 239);
    font-weight: 600;
 }
 
#ab1,#ab2,#ab3{
    text-decoration: none;
    border: 2px solid rgb(221, 221, 221);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    margin-top: 1%;
    padding-top: 10px;
}
#ab1{
    color: #ffffff;
}
#ab2{
    color: #ffffff;
}
#ab3{
    color: rgb(255, 255, 255);
}
#ab1:hover,#ab2:hover,#ab3:hover{
    color: rgb(151, 151, 151);
}
.copyright{
    font-size: 12px;
    font-weight: 400;
    color: rgb(230, 230, 230);
    font-family: 'Manjari', sans-serif;
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: end;
}
a.contact{
    color: rgb(73, 67, 67);
    text-decoration: none;
}
a.resu{
    color: rgb(73, 70, 70);
    text-decoration: none;
}
