body{
    background: linear-gradient(to bottom left, #fdfdfd 85%, #ff6347 80%);
    /* background: linear-gradient(to bottom left, #df4040 86%, #ffffff 80%); */
    
}
header{
    border-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin: 0%;
    
    border-top: none;
    border-left: none;
    border-right: none;
    

    /* background-color: rgb(60, 164, 255); */
}
.name{
    padding: 3px;
    background-color: tomato;
    font-size: 15px;
    margin-left: 30px;
    font-family: 'Manjari', sans-serif;
    color: whitesmoke;
    border-radius: 1px;
    font-weight: 500;
    box-shadow: 0px 3px 10px rgb(204, 204, 204);
    
}
.lname{
    margin-left:5px;
    font-weight: 700;
    color: rgb(56, 56, 56);
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manjari', sans-serif;
    font-weight: 500;
}
.nav{
    text-decoration: none;
    margin: 30px;
    font-family: 'Manjari', sans-serif;
    color: rgb(71, 69, 69);
    font-weight: 590;
    font-size: 13px;
    
}
a:hover.social{
    color: tomato;
    
}

main{
    padding-bottom: 46px;
    margin-left: 70px;
    margin-top: 20px;
    padding: 90px;
    padding-left: 200px;
}
.bcon,.bre{
    margin: 5px;
    border: none;
    background-color: tomato;
    padding: 7px;
    border-radius: 2%;
    font-weight: 600;
    font-size: 13px;
    /* padding: 12px; */
    /* margin-top: 10px; */
    font-family: 'Manjari', sans-serif;
    color: whitesmoke;
    box-shadow: 0px 3px 10px rgb(255, 206, 166);
 
}
.b1,.b2,.b3{
    border: none;
    padding: 4px;
    box-shadow: 0px 3px 10px rgb(206, 201, 201);
}
.b1{
    background-color: #ffA116;
}
.b2{
    background-color: rgb(28, 160, 68);
}
.b3{
    background-color: rgb(87, 85, 85);
}
.b1:hover,.b2:hover,.b3:hover{
    cursor: pointer;
    background-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);
}
.bcon:hover,.bre:hover{
    cursor: pointer;
    background-color: rgb(136, 136, 136);
    color: rgb(255, 255, 255);
}
h1{
    font-size: 40px;
    font-family: 'Manjari', sans-serif;
    color: rgb(66, 66, 66);
    padding: 0%;
    margin-bottom: 2px;
}
h4{
    letter-spacing: 2px;
    font-family: 'Manjari', sans-serif;
    margin: 0%;
    font-weight: 100;
    font-size: 13px;
    color: rgb(112, 112, 112);
}
p{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Manjari', sans-serif;
    color: rgb(49, 49, 49);
}

img{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 170px;
    margin-right:270px ;
   float: right;
   border: none;
   border-top-right-radius: 50px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    box-shadow: 0px 3px 10px rgb(206, 190, 178);
}
.social{
   display: flex;
    justify-content: center;
}
.coding{
    /* margin: 5px; */
    
 }
 .c1, .c2, .c3{
    text-decoration: none;
    padding: 10px;
    font-family: 'Manjari', sans-serif;
    color: rgb(245, 239, 239);
    font-weight: 600;
 }
 
#ab1,#ab2,#ab3{
    text-decoration: none;
    border: 2px solid tomato;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px;
    margin-top: 1%;
    padding-top: 10px;
}
#ab1{
    color: #006699;
}
#ab2{
    color: #cc2366;
}
#ab3{
    color: rgb(41, 41, 41);
}
#ab1:hover,#ab2:hover,#ab3:hover{
    color: tomato;
}
.copyright{
    font-size: 12px;
    font-weight: 400;
    color: rgb(77, 77, 77);
    font-family: 'Manjari', sans-serif;
    margin-top: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: end;
}
a.contact{
    color: whitesmoke;
    text-decoration: none;
}
a.resu{
    color: whitesmoke;
    text-decoration: none;
}